.nav_PC{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-content: center;
    font-size: 24px;
  }

  
  .container{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 5px;
    position: absolute;
    left: 0px;
    right: 0px; 
    bottom: 85px;
    max-width: 250px;
    border-radius: 15%;
    background-color: gray;
    color: azure;
    /* border: 10px solid black; */
    margin-left: auto;
    margin-right: auto;
    font-size: small;
  }
