.test{
    padding: 50px 50px 50px 50px;
    margin: 0px 0px 0px 0px;
}

.test_input:invalid {
    background-color: #df2828;
  }
  
  /* form:invalid {
    border: 5px solid #ffdddd;
  } */
  
  .test_input:valid {
    background-color: #46b846;
  }
  
  /* form:valid {
    border: 5px solid #ddffdd;
  } */
  
  .test_input:required {
    border-color: #dd8383;
    border-width: 3px;
  }
