@font-face {
  font-family: "Roboto";
  src: url("/src/style/fonts/Roboto/Roboto-Regular.ttf") format("truetype"),
       url("/src/style/fonts/Roboto/Roboto-Regular.ttf") format("woff"),
       url("/src/style/fonts/Roboto/Roboto-Regular.ttf") format("woff2"),
       url("/src/style/fonts/Roboto/Roboto-Regular.ttf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

.container {
font-family: "Roboto", Arial, Helvetica, sans-serif; 
display: grid;
width: inherit;
height: 100vh;
grid-template-areas: 
"head"
"main"
"foot";
grid-template-columns: 100%;
grid-template-rows:  0.8fr 10fr 1fr;
}

header{
  grid-area: head;
  background-color: rgb(49, 49, 49);
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-content: stretch;
}

main {
  grid-area: main;
  padding: 30px;
}

footer{
  background-color: peru;
  grid-area: foot;
}

/* custom styles*/

.nav-bar{
display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-content: center;
  font-size: 24px;
}

.nav-bar ul{
  margin: 0px;
  min-height: 75px;
  display: flex; 
  flex-flow: row wrap;
  margin-right: 30px;
  list-style-type: none; 
}

.nav-bar ul li{
  padding: 15px;
  display: flex; 
  flex-flow: column nowrap;
  justify-content: center;
}

.nav-bar a{
  text-decoration: none;
  color: white;
}

.nav-bar a:hover{
   animation-duration: 3s;
   animation-name: a-hover-animation;
   animation-iteration-count: infinite;
}

.nav-bar ul li:hover{
 background-color: rgb(131, 131, 131);
}

@keyframes a-hover-animation {
  from  { 
      color: aqua;
      opacity: 1; 
  }
  50%{
    opacity: 0.5;
  }
  to  {
    color: aqua;
    opacity: 1;

  }
}

.autorisation-container{
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content:center;
  align-content: center;
}

.autorisation-container h2, p{
  letter-spacing: 2px;
text-align: center;
}

.autorisation-form { 
   display: flex;
  flex-flow: column wrap; 
  justify-content: flex-start;
  align-content: center;

}

.autorisation-form input{
  height: 25px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #9c9c9c;
}

.autorisation-form input:focus{
  outline: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 3px solid #9c9c9c;
} 

.autorisation-form button {
  margin-top: 10px;
  background-color: #9c9c9c;
  border-radius: 5px;
  box-shadow: 5px 10px 10px #9c9c9c;
  font-size: medium;
  height: 40px;
  letter-spacing: 1px;
}

.autorisation-form button:hover{
  position: relative;
  bottom: 5px;
  left: 2px;
  box-shadow: 5px 20px 20px #9c9c9c;
  /* animation-duration: 1s;
  animation-name: button-hover-animation; */
  /* animation-iteration-count: infinite; */
}

@keyframes button-hover-animation {
  from  { 
    /* border-top: 1px solid white;
    border-right: none; 
    border-bottom: none; 
    border-left: none;    */
    box-shadow: 5px 5px 5px #9c9c9c;
  }
  /* 33.33%{
    border-top: 1px solid white;
    border-right: 1px solid white;
    border-bottom: none; 
    border-left: none; 
    box-shadow: 5px 10px 10px #9c9c9c;
  }
  66.66%{
    border-top: 1px solid white;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    border-left: none; 
    box-shadow: 5px 10px 10px #9c9c9c;
  } */
  to  {
    /* border-top: 1px solid white;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    border-left: 1px solid white; */
    box-shadow: 5px 20px 20px #9c9c9c;
  }
}

