@font-face {
  font-family: "Roboto";
  src: url("/src/style/fonts/Roboto/Roboto-Regular.ttf") format("truetype"),
       url("/src/style/fonts/Roboto/Roboto-Regular.ttf") format("woff"),
       url("/src/style/fonts/Roboto/Roboto-Regular.ttf") format("woff2"),
       url("/src/style/fonts/Roboto/Roboto-Regular.ttf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

.container {
font-family: "Roboto", Arial, Helvetica, sans-serif; 
display: grid;
width: inherit;
height: 100vh;
grid-template-areas: 
"head"
"main"
"foot";
grid-template-columns: 100%;
grid-template-rows:  0.8fr 10fr 1fr;
}

header{
  grid-area: head;
  background-color: rgb(49, 49, 49);
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-content: stretch;
}

main {
  grid-area: main;
  padding: 30px;
}

footer{
  grid-area: foot;
}

/* custom styles*/

.nav-bar{
display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-content: center;
  font-size: 24px;
}

.nav-bar ul{
  margin: 0px;
  min-height: 75px;
  display: flex; 
  flex-flow: row wrap;
  margin-right: 30px;
  list-style-type: none; 
}

.nav-bar ul li{
  padding: 15px;
  display: flex; 
  flex-flow: column nowrap;
  justify-content: center;
}

.nav-bar a{
  text-decoration: none;
  color: white;
}

.nav-bar a:hover{
  color: aqua;
}

.nav-bar ul li:hover{
 background-color: rgb(131, 131, 131);
}

/* .container form { */
  /* display: flex;
  flex-flow: column wrap; */
  /* padding-left: auto;
  padding-right: auto;
  margin-left: auto;
  margin-right: auto;
  width: 90%; */
/* } */

/* .container h2{
  margin-left: auto;
  margin-right: auto;
  min-width: 360px;
  letter-spacing: 2px;
  text-align: left;
} */

/* form input{
  outline: 2px solid #9c9c9c;
}

.container input{
  
  outline: 2px solid #9c9c9c;
}

.container input:focus{
  outline: 2px solid #9c9c9c;
} */



/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .App-link {
  color: #61dafb;
} */


/* .btn-form {
  background-color: #9c9c9c;
  border-radius: 5px;
  box-shadow: 5px 10px 10px #9c9c9c;
  font-size: medium;
  height: 40px;
  letter-spacing: 1px;
} */

